{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!--fontawesome-->
    <link rel="stylesheet" href="{% static "fonts/css/all.min.css" %}">
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="{% static "bootstrap/css/bootstrap.min.css" %}"
    />
    <!--my-->
    <link rel="stylesheet" href="/static/icons/style.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>

    <header class="header">
      <div class="top-line">
        <div class="container d-flex">
          <div class="text-center flex-grow-1">
            Скидка по промокоду HELLO на все заказы до 20.07.2025
          </div>
          <div class="callback">
            <a href="#">Обратный звонок</a>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg top-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url "start:home" %}">
            <img src="{% static "images/logo.jpeg" %}" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог
                </a>
                <div class="container dropdown-menu megamenu animate slideIn" role="menu">
                  <div class="row g-3">
                    <div class="col-lg-3 col-6">
                      <h6 class="title">Электорные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Механические замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Декоративные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Составные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Оптовая продажа</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
              </li>
            </ul>
          </div>

          <div class="navbar-rightside">
            <ul>
              <li class="navbar-phone">
                <i class="fa-solid fa-phone"></i>
                <a href="tel:+71234567890">+71234567890</a>
              </li>
              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="fa-regular fa-user"></i></a>
                <ul class="dropdown-menu dropdown-menu-end animate slideIn">
                  <li><a href="#" class="dropdown-item">Регистрация</a></li>
                  <li><a href="#" class="dropdown-item">Авторизация</a></li>
                  <li><a href="#" class="dropdown-item">Личный кабинет</a></li>
                </ul>
              </li>
            </ul>

            <form action="" class="search-form">
              <input class="form-control" type="text" name="s" placeholder="Поиск товара..." required>
              <button id="search-form-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </nav>

    </header>

    <div class="slider">
      <div class="container-fluid p-0">
        <div id="carousel-indicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-indicators">
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-indicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

            <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="0" class="btn-indicators active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="1" class="btn-indicators" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-indicators" data-bs-slide-to="2" class="btn-indicators" aria-label="Slide 3"></button>

            <button class="carousel-control-next" type="button" data-bs-target="#carousel-indicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <img src="{% static "images/image1.png" %}" alt="">
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="carousel-text">
                    <h5>Новая коолекция<br>из вареного хлопка</h5>
                    <div class="carusel-description">
                      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О прямо грамматики свое страна заглавных лучше приставка за, своего маленький точках дороге даль сбить.</p>
                    </div>
                    <div class="carusel-price">
                      <strong>4 500₽</strong>
                      <del>5 500₽</del>
                      <p class="carusel-btn">
                        <a href="#" class="btn btn-primary">Купить</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <img src="{% static "images/image2.png" %}" alt="">
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="carousel-text">
                    <h5>Новая коолекция<br>из вареного хлопка</h5>
                    <div class="carusel-description">
                      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О прямо грамматики свое страна заглавных лучше приставка за, своего маленький точках дороге даль сбить.</p>
                    </div>
                    <div class="carusel-price">
                      <strong>4 500₽</strong>
                      <del>5 500₽</del>
                      <p class="carusel-btn">
                        <a href="#" class="btn btn-primary">Купить</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <img src="{% static "images/image3.png" %}" alt="">
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="carousel-text">
                    <h5>Новая коолекция<br>из вареного хлопка</h5>
                    <div class="carusel-description">
                      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О прямо грамматики свое страна заглавных лучше приставка за, своего маленький точках дороге даль сбить.</p>
                    </div>
                    <div class="carusel-price">
                      <strong>4 500₽</strong>
                      <del>5 500₽</del>
                      <p class="carusel-btn">
                        <a href="#" class="btn btn-primary">Купить</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <section class="why-us">
      <div class="container">
        <h1>Почему "Тихая Роскошь?"</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="why-us-card">
              <img src="{% static "icons/pi1.svg" %}" alt="">
              <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Собрал его приставка продолжил единственное курсивных даже эта безорфографичный раз.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="why-us-card">
              <img src="{% static "icons/pi2.svg" %}" alt="">
              <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="why-us-card">
              <img src="{% static "icons/p3.svg" %}" alt="">
              <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Собрал его приставка продолжил единственное курсивных даже эта безорфографичный раз.</p>
            </div>
        </div>
        </div>
      </div>
    </section>

    <section class="main-category">
      <div class="container">
        <h1>Категории</h1>
        <div class="row row-gap-4">
          <div class="col-6">
            <div class="main-categories-card">
              <a href="#">
                <div class="main-categories-card-img">
                  <img src="{% static "images/image1.png" %}" alt="">
                </div>
              </a>
              <div class="main-categories-card-description">
                <h3>Для отелей</h3>
                <a href="#" class="btn btn-outline-dark">Перейти</a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="main-categories-card">
              <a href="#">
                <div class="main-categories-card-img">
                  <img src="{% static "images/image2.png" %}" alt="">
                </div>
              </a>
              <div class="main-categories-card-description">
                <h3>Для домов</h3>
                <a href="#" class="btn btn-outline-dark">Перейти</a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="main-categories-card">
              <a href="#">
                <div class="main-categories-card-img">
                  <img src="{% static "images/image3.png" %}" alt="">
                </div>
              </a>
              <div class="main-categories-card-description">
                <h3>Для улиц</h3>
                <a href="#" class="btn btn-outline-dark">Перейти</a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="main-categories-card">
              <a href="#">
                <div class="main-categories-card-img">
                  <img src="{% static "images/image1.png" %}" alt="">
                </div>
              </a>
              <div class="main-categories-card-description">
                <h3>Для отелей</h3>
                <a href="#" class="btn btn-outline-dark">Перейти</a>
              </div>
            </div>
          </div>

          <p class="text-center">
            <a href="#" class="btn btn-primary mian-all-categories">Все категории</a>
          </p>

        </div>


      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
