{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!--fontawesome-->
    <link rel="stylesheet" href="{% static "fonts/css/all.min.css" %}">
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="{% static "bootstrap/css/bootstrap.min.css" %}"
    />
    <!--my-->
    <link rel="stylesheet" href="/static/icons/style.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>

    <header class="header">
      <div class="top-line">
        <div class="container d-flex">
          <div class="text-center flex-grow-1">
            Скидка по промокоду HELLO на все заказы до 20.07.2025
          </div>
          <div class="callback">
            <a href="#">Обратный звонок</a>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{% url "start:home" %}">
            <img src="{% static "images/logo.jpeg" %}" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог
                </a>
                <div class="container dropdown-menu megamenu animate slideIn" role="menu">
                  <div class="row g-3">
                    <div class="col-lg-3 col-6">
                      <h6 class="title">Электорные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Механические замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Декоративные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-6">
                      <h6 class="title">Составные замки</h6>
                      <ul class="list-unstyled">
                        <li><a href="#">Врезные замки</a></li>
                        <li><a href="#">Замки для кваритры</a></li>
                        <li><a href="#">Замки для дома</a></li>
                        <li><a href="#">Замки для отелей</a></li>
                        <li><a href="#">Замки для офиса</a></li>
                        <li><a href="#">Замки для шкафчиков</a></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Оптовая продажа</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
              </li>
            </ul>
          </div>

          <div class="navbar-rightside">
            <ul>
              <li class="navbar-phone"></li>
            </ul>
          </div>
        </div>
      </nav>

    </header>


    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
